name: Metrics
on:
  schedule: [{cron: "0 * * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Base config
          user: gloggers99
          template: classic
          base: activity, community, repositories, metadata
          config_padding: 6%
          config_timezone: America/Los_Angeles

          # Achievements (patched to avoid GitHub Projects Classic crash)
          plugin_achievements: no

          # Isocalendar
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          # Languages
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_details: percentage
          plugin_languages_ignored: html, css
          plugin_languages_threshold: 0%

          # Lines of code changed
          plugin_lines: yes
